*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #9e9ade42;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.container-principal{
    width: 80vw;
    margin: auto;
    background-color: #9f9ade52;
    padding: 2.5vh 0;
   
    
}

.hoja-uno{
    width: 45%;
    height: 47vw;
    margin: auto;
    background-color: white;

    box-shadow: 0px 0px 15px black;
    display: flex;
    position: relative;
}

:root{
    --primary-color: #595691;
    --secondary-color: #DEC0AF;

    --letritas-color:rgb(228, 228, 228);

    --color1:#9D9ADE;
    --color2:#92DE83;
    --color3:#66915D;
}

.columna-izquierda{
    width: 40%;
    height: 100%;
    background-color: var(--primary-color);
    font-weight: 800;
    
    

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;

}



.izquierda-superior{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Black Ops One', cursive;
    color: white;
}

.textos{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1vw;
}
.nombre{
    font-size: 2vw;
   color: var(--secondary-color);
}
.apellido{
    font-size: 2vw;
    color: var(--secondary-color);
}
.sub{
    font-size: 1vw;
    font-family: 'Roboto Mono', monospace;
    color: var(--letritas-color);
}

.imagen-javi{
    width: 100%;
    
    background-color: var(--secondary-color);
    
}


.izquierda-inferior{
    display: flex;
    flex-direction: column;
    

    font-family: 'Black Ops One', cursive;

    color: var(--secondary-color);
    padding: 0 1vw;
}

.datos h2{
    font-size: 0.9vw;
}

.datos p{
    font-family: 'Roboto Mono', monospace;
    color: var(--letritas-color);
    font-size: 0.8vw;
    margin-top: 10px;
    margin-bottom: 25px;
}

.competencias h2{
    font-size: 0.9vw;
    
}

.competencias ul{
    font-family: 'Roboto Mono', monospace;
    color: var(--letritas-color);
    font-size: 0.8vw;
    margin-top: 0.1vh;
    padding: 0;
    padding: 0 1vw;

    margin-top: 10px;
    margin-bottom: 25px;
}
.clip{
    
    position: absolute;
    bottom: 1%;
    right: 1%;
    width: 6vw;
    height: 6vw;
    filter: drop-shadow(0px 0px 2px black);

    display: none;
}

.globo-clip{
    width: 10vw;
    
    background-image: url('images/globo_clip.png');
    background-size: 100% 100%;
    background-color: rgb(245, 245, 166);
   
    

    position: absolute;
    right: 1%;
    bottom: 1%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(185, 185, 185);

     border-radius: 5px; 
}

.contenedor-globo-clip{
    width: 9vw;
    padding: 5px 5px 5px 5px;

   
    
}
.contenedor-globo-clip button{
    padding: 5px 15px;
    background: none;
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 5px;
    
    display: flex;
    flex-direction: row;
    
    align-items: center;

}


.contenedor-globo-clip button i{
    margin-right: 5px;
    font-size: 20px;
}

a{
    text-decoration: none;
}

.logo-pdf{
    width: 4vw;
    height: 4vw;
}

.caja-pdf{
    position: absolute;
    bottom: 1%;
    right: -45%;

    display: flex;
    justify-content: center;
    align-items: center;
}



.caja-pdf h3{
    font-size: 2vw;
    color: var(--primary-color);
}